@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather;
}

body{
    color: #000000;
    background-color: #5a7854;
}

header{
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    z-index: 100;
    position: fixed;
}

.logo{
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
}

.navbar{
    display: flex;
    flex-direction: row;
}

.navbar a{
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 35px;
    transition: .2s;
}

.navbar a:hover{
    color: #f66f1d;
}

/*.main-content{
    padding: 20px;
    margin: 20px auto;
    box-shadow: none;
    overflow: hidden;
    max-width: 600px;
}

h2{
    color: #000000;
    display: flex;
    align-items: center;
}

p{
    color: #000000;
    line-height: 1.6;
    font-size: 16px;
    margin: 20px 0 40px;
    display: flex;
    position: relative;
}

/*section{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    max-width: 600px;
    font-size: 16px;
    margin: 20px 0 40px;
}*/

/*#home, #about, #skills{
    display: flex;
    align-items: flex-start;
   
}*/



